.LSM-theme {
  //font-family: 'Helvetica';
  //color: darkslategray !important;

  h1, h2, h3, h4, h5, h6 {
    color: black; // $toolbar-title-color-lsm;
  }
  h2{
    color: $list-border-color-dark-lsm;
  }

  ion-header {
    border-bottom: 3px $toolbar-border-bottom-color-lsm solid;
  }
  .toolbar-title {
    color: $toolbar-title-color-lsm;
  }
  .toolbar-background {
    background-color: $toolbar-background-color-lsm;
  }
  .bar-button-menutoggle,
  .bar-button-default:hover:not(.disable-hover)
  .bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default {
      color: $toolbar-title-color-lsm !important;
  }
  span {
    &.category-title{
      display: block;
      color: $list-border-color-dark-lsm !important;
    }
	}
  ion-content {
    background-color: $background-color-lsm;
    &.fondo_trainerua{
      background-color: #f6f6f6;
    }
  }

  ion-menu{
    ion-content div.fixed-content{
      background-color: darken($toolbar-background-color-lsm, 1.5%); //#504f4f
    }
  }

  ion-list {
    .menu-item{
      background-color: transparent;
      border-top: solid #727272 1px;
      border-bottom: solid #333 1px;
      box-shadow: 0 1px 0 #727272;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      display: block;
      box-sizing: border-box;
      text-shadow: 0px 1px 1px #000000;
      
      .item-inner{
            border-bottom: 0px; // solid red;
      }
      .menu-item:last-child{
          border-bottom: solid #333 1px;
      }
    }

    .item:not(.menu-item):nth-child(odd) {
        border-left: 5px solid $list-border-color-dark-lsm;// !important;
    }
    .item:not(.menu-item):nth-child(even) {
        border-left: 5px solid $list-border-color-light-lsm;// !important;
    }
  }

  ion-grid{
      ion-row:nth-child(odd):not(.grid_header) {
          border-left: 5px solid $list-border-color-dark-lsm;;
      }
      ion-row:nth-child(even):not(.grid_header) {
          border-left: 5px solid $list-border-color-light-lsm;;
      }
      ion-row {
        &.grid_header {
          border-left: 5px solid $toolbar-border-bottom-color-lsm;
          border-bottom: 2px solid $toolbar-border-bottom-color-lsm;
          font-family: Aldrich;
          color: $list-border-color-dark-lsm;;
          text-decoration: underline;
        }
      }
  }

  ion-item{
    &.grid_header {
      min-height: 1rem;
      .item-inner{
        border-bottom: 0px solid;
      }
      border-left: 5px solid $toolbar-border-bottom-color-lsm;
      border-bottom: 2px solid $toolbar-border-bottom-color-lsm;
      background-color: white;
      font-family: Aldrich;
      color: $list-border-color-dark-lsm;
      h2, h4{
      text-decoration: underline !important;
      }
    }
  }
  .apetrip{ font-weight: bold; color: $list-border-color-dark-lsm; }
  .propio{ padding-bottom:1px; border-bottom: solid 1px $list-border-color-dark-lsm; width:auto !important; }
  #divTrainerua {
    div:not(.propio){
      border-left: solid 3px $list-border-color-dark-lsm;
    }
    div.babor{
      border-left: solid 0px $list-border-color-dark-lsm;
      border-right: solid 3px $list-border-color-dark-lsm;
    }
  }

  .anim-item{
    p{
      color: $list-border-color-dark-lsm;
      font-size: 1.2rem;
    }
  }
  
  #divHoraGPS, #divDatosNO{
    margin-left:10px;
    color: $list-border-color-dark-lsm;
    font-size: 15px;
  }
}